$vl-link-visited-state: true;
$vl-pswp-assets-path: '~@govflanders/vl-ui-core/dist/img/lightbox/';
$vl-font-location: '~@govflanders/vl-ui-core/dist/font/flanders/';

@import "~@govflanders/vl-ui-core/src/scss/core";
@import "~@govflanders/vl-ui-util/src/scss/util";
@import "~@govflanders/vl-ui-button/src/scss/button";
@import "~@govflanders/vl-ui-titles/src/scss/titles";
@import "~@govflanders/vl-ui-description-data/src/scss/description-data";
@import "~@govflanders/vl-ui-data-table/src/scss/data-table";
@import "~@govflanders/vl-ui-side-navigation/src/scss/side-navigation";

.vl-region:first-child {
  padding-top: 0rem;
}
.list--comma span:not(:last-child)::after {
  content: ', ';
}